/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -25px;
  animation: active .5s infinite ease-in-out alternate;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: .6;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
    opacity: .6;
  }

  .card__icon-button:focus-visible {
    outline: none;
    border: 2px solid var(--accent-color);
  }

  .like-icon:hover .core {
    fill: var(--accent-color);
    transition: fill .3s linear;
  }

  .like-icon:hover .main-body {
    fill: var(--accent-color);
    transition: fill .3s linear .05s;
  }

  .like-icon:active .core {
    fill: var(--sparks-color);
    transition: fill .3s linear;
  }

  .like-icon:active .main-body {
    fill: var(--sparks-color);
    transition: fill .3s linear .05s;
  }

  .like-icon.is-liked .core {
    fill: var(--sparks-color);
    transition: fill .3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--sparks-color);
    transition: fill .3s linear .05s;
  }

  .like-icon.is-liked .contour {
    fill: var(--sparks-color);
    transition: fill .3s linear .06s;
  }

  .like-icon.is-liked .heart {
    animation: heart-scale .3s ease-in 0.1s;
  }

  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s;
  }

  .button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
  }

  .button:hover::before {
    transform: scaleX(1);
  }

@keyframes active {
    from {
      left: -20px;
    }

    to {
      left: -16px;
    }
  }

@keyframes heart-scale {
    0% {
      transform: scale(1);
      transform-origin: center;
    }
    50% {
      transform: scale(1.22);
      transform-origin: center;
     }
    100% {
      transform: scale(1);
      transform-origin: center;
    }
  }

  @keyframes sparks {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
